@model IEnumerable<RiLaRos.AlbumReviews.Web.Models.Comment>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <th class="center">Nombre</th>
        <th class="center">Email</th>
        <th class="center">Detalle</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.body)
        </td>
    </tr>
}

</table>
